%{
    // Eval fields tags
    def fieldsHandler = [:]
    if(_body) {
        _body.setProperty('fieldsHandler', fieldsHandler);
}%
        #{doBody as:'skip' /}
%{
    }
}%

<table class="${_classes}">
    <thead>
        <tr>
        %{ if(_selectable) { }%
            <th class="checkbox"><input type="checkbox" name="select-all" value=""/></th>
        %{ } }%
        %{ if(_fields) { }%
            %{ 
                k = 0
                nbColumns = (_caller.columns != null) ? _caller.columns.size() : _fields.size()
            }%
            %{ _fields.each() { }%
                %{ if(!_caller.columns || _caller.columns.contains(it)) { }%
                    %{ k++ }%
                    %{ if(!_sort || _sort.contains(it)) { }%
                        <th class="${_caller.orderBy == it ? (_caller.order == 'DESC' ? 'headerSortDown' : 'headerSortUp') : ''}">
                            <span class="sort"></span>
                            #{crudLink lib: messages.get(it.capitalize()), orderBy: it, order: (_caller.orderBy == it && _caller.order == 'ASC' ? 'DESC' : 'ASC') /}
                        </th>
                    %{ } else { }%
                        <th>
                            &{it.capitalize()}
                        </th>
                    %{ } }%
                %{ } }%
            %{ } }%
        %{ } else { }%
            <th class="${_caller.orderBy == it ? (_caller.order == 'DESC' ? 'headerSortDown' : 'headerSortUp') : ''}">
                <span class="sort"></span>
                #{crudLink lib: 'entities', orderBy: it, order: (_caller.orderBy == it && _caller.order == 'ASC' ? 'DESC' : 'ASC') /}
            </th>
        %{ } }%
        </tr>
    </thead>
    %{ _objects.eachWithIndex() { object, k -> }%
    <tr class="${k % 2 ? 'even' : 'odd'}">
        %{ if(_selectable) { }%
            <td class="checkbox"><input type="checkbox" name="selected" value="${object.id}"/></td>
        %{ } }%
        %{ if(_fields) { }%
            %{ _fields.eachWithIndex() { field, i -> }%
                %{ if(!_caller.columns || _caller.columns.contains(field)) { }%
                <td>
                    %{ if(fieldsHandler[field]) { }%
                        %{
                            def handler = fieldsHandler[field];
                            handler.setProperty('object', object);
                        }%
                        #{doBody body:handler /}
                        %{
                            handler.setProperty('object', null);
                        }%
                    %{ } else { }%
                        %{ if(i == 0) { }%
                            <a href="@{show(object._key())}">${object[field]?.toString()?.escape()?.raw() ?: '(no value)'}</a>
                        %{ } else { }%
                            %{ if(field.contains('.')) { }%
                                %{ def tokens = field.tokenize('.') }%
                                ${object[tokens[0]][tokens[1]]?.escape()?.raw()}
                            %{ } else { }%
                                ${object[field]?.escape()?.raw()}
                            %{ } }%
                        %{ } }%
                    %{ } }%
                </td>
                %{ } }%
            %{ } }%
        %{ } else { }%
            %{ if(fieldsHandler['default']) { }%
                %{
                    def handler = fieldsHandler['default'];
                    handler.setProperty('object', object);
                }%
                #{doBody body:handler /}
            %{ } else { }%
                <td>
                    <a href="@{show(object._key())}">${object.toString()?.escape()?.raw() ?: '(no value)'}</a>
                </td>
            %{ } }%
        %{ } }%
    </tr>
    %{ } }%
</table>
%{ if(_fields && !request.isAjax()) { }%
    %{
        def action = play.mvc.Http.Request.current().action.tokenize('.')[1]
        def url = actionBridge."$action"()
    }%
    #{greenscript.js}
        YUI().use('node', 'columnPicker', function(Y) {
            var picker = new Y.ColumnPicker({
                dataNode: "#data .content",
                action: "${request.url.raw()}",
                fields: { %{
                    _fields.each() { out.print('"'+it+'": "'+messages.get(it.capitalize())+'",')}
                }% },
                selected: [ %{
                    if(_caller.columns != null) {
                        _caller.columns.each() { out.print('"'+it+'",')}
                    }
                }% ]
            });
            picker.render();
        });
    #{/greenscript.js}
%{ } }%
